@model IEnumerable<Veterinary_clinic.Models.DoctorFreq>

@{
    ViewData["Title"] = "Index";
}

<h1>Ati frecventat urmatorii medici...</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freq)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freq)
            </td>
            @*   <td>
            <a asp-action="Edit" asp-route-id="@item.Doctor_name">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Doctor_name">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Doctor_name">Delete</a>
        </td>*@
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Back">Back</a>
</div>
