@model IEnumerable<Veterinary_clinic.DB.AppointmentsHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
<a asp-action="Back">Back</a>
</div>