@model IEnumerable<Veterinary_clinic.Models.ViewServiceModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Proceduri</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            <td>
                <a asp-action="Select" asp-route-id="@item.ServiceId">Select</a> 
            </td>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Back">Back</a>
</div>